* {
  font-family: Arial, Helvetica, sans-serif;
}

.filter-container {
  text-align: center;
  padding-bottom: 20px;
}
input {
  margin: 20px auto;
  display: block;
  font-size: 1.4rem;
  text-align: center;
  transition: 0.2s;
}
input:focus {
  border-radius: 30px;
  background: rgb(238, 238, 238);
}
.range-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type="range"] {
  width: 250px;
  margin: 0 10px 10px 0;
}
.range-container span {
  font-size: 1.2rem;
  transform: translateY(-3px);
}

.countries-container {
  display: flex;
  flex-wrap: wrap;
}

.country-card {
  background-color: rgb(13, 11, 11);
  width: 400px;
  height: auto;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
}

img {
  padding: 20px;
  height: 100px;
  object-fit: cover;
  margin: 0 auto;
  align-items: center;
}

.country-infos {
  color: rgb(204, 202, 202);
  padding: 0px;
  text-align: center;
}
